./autodoc/token.txt
./templates/md
./templates/md/**
./templates/group_analysis_report_template.txt
./templates/group_planning_report_template.txt
./data/**
./autodoc/__pycache__
./autodoc/models/__pycache__
./.env/**
./.vscode/**